.wrapper{
    background : black;
    padding: 1rem;
    color: white;
    font-size : 2rem;
}

.inverted{
    color:black;
    background : white;
    border : 1px solid black;
}
/*글로벌 CSs*/
:global .something {
    font-weight: 800;
    color : aqua;
}

/*해당 클래스는 방금 만든 스타일을 직접 불러온 컴포넌트 내부에서만 작동*/